@{
    ViewData["Title"] = "Home Page";
}


<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index">Manage Products</a>
    </li>
</ul>

