@{
    ViewData["Title"] = "Home Page";
}


<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index">Manage Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="ProductExpiration" asp-action="Index">Списання товарів</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Invoice" asp-action="Index">Прийняття товару на баланс</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="StockItems" asp-action="Index">Товари</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Report" asp-action="Index">Звіти</a>
    </li>
</ul>

